# =============================
# Node modules (client & server)
# =============================
node_modules/
client/node_modules/
server/node_modules/

# =============================
# Build output (Vite/Node)
# =============================
dist/
dist-ssr/
client/dist/
server/dist/

# =============================
# Logs & debug
# =============================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =============================
# Environment variables
# =============================
.env
*.env
*.local

# =============================
# OS system files
# =============================
.DS_Store       # macOS
Thumbs.db       # Windows

# =============================
# IDE/editor configs
# =============================
.vscode/
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =============================
# Test/coverage output
# =============================
coverage/
